.InlineNewPostEditor
  border(0 0 1px 0, solid, $gray100)
  clearfix()
  size(100%, auto)
  box-sizing: border-box
  padding: 24px
  &__editor
    size(100%, 100px)
    &__textarea
      size(100%)
      border: 0
      margin: 0
      outline: none
      resize: none
  &__nav
    clearfix()
    padding-top: 24px
