@charset 'UTF-8'

//-------------------------------
// Settings
//-------------------------------

@import 'normalize.css/normalize.css'
@import 'zenigame'

//-------------------------------
// Base
//-------------------------------

html, body
  minsize(100%, 100%)
  size(100%)
  font-family: $font

.Wrapper
  clearfix()
  size(100%)
  position: relative

.isScrollFixed
  max-height: 100vh
  overflow: hidden

//-------------------------------
// Components
//-------------------------------

@import 'components/_IndexView'
@import 'components/_NoteView'
